body .d {
color:blue;
}

body .c1 #b {
color:#FFF;
}

body .c1 #t {
background-color:#000;
}

body .c2 #b {
color:#000;
}

body .c2 #t {
background-color:#FFF;
}

body .c3 #b {
color:#063462;
}

body .c3 #t {
background-color:#9dd1ff;
}

body .c4 #b {
color:#a9e44d;
}

body .c4 #t {
background-color:#3b2716;
}